@import "navigation.css";

body {
    background-color: turquoise;
}

.InfoContainer {
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-top: 15%;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: -2;
    height: 15vh;
    display: relative;
}

.InfoContainer p {
    color: #000;
    font-size: 25px;
}

.contactInfo {
    /*margin-top: 5%;*/
    display: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15vh;
}

.contactInfo p {
    font-size: 25px;
}

.contactInfo a {
    text-decoration: none;
    color: black;
}

.contactInfo a:hover {
    color: #c0392b;
    transition: all 0.3s ease-in-out;
}

.languages {
    margin: auto;
    width: 60%;
    padding: 10px;
    z-index: -2;
    text-align: center;
    height: 10vh;
    display: relative;
}

.langIcon:hover {
    box-shadow: 5px 10px 30px;
}