@import "navigation.css";

.hero {
    background-image: linear-gradient(to bottom right, blue, turquoise);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero h1 {
    font-size: 50px;
    margin: -20px 0 20px;
  }
  
.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

.AboutMe{
    text-align: left;
    width: 30%;
    left: 20%;
    position: relative;
}



.AboutMe h2,
.AboutMe h3,
.languages h3,
.contactInfo h3 {
  font-size: 150%;
  margin: 20px 0;
}

.AboutMe p, .contactInfo p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

.contactInfo{
    position: relative;
    right: 20%;
    text-align: right;
}

.contactInfo a {
    text-decoration: none;
    color: #151515;
    border-radius: 5px;
    border: solid;
    border-width: 2px;
}

.contactInfo a:hover {
    color: turquoise;
    transition: all 0.3s ease-in-out;
}

.languages{
    position: relative;
    left: 20%;
}

.langIcon:hover {
    box-shadow: 5px 10px 30px;
}
