@import "navigation.css";

body {
    background-image: linear-gradient(to bottom right, blue, turquoise);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h2 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-color: #151515;
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: white;
    height: 15vh;
    padding: 70px 0;
}

.container {
    display: flex;
    max-width: 1500px;
    flex-wrap: wrap;
}

.panel {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
    text-align: center;
    height: 45vh;
}
  
.panel:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -20px, 0);
}

.panel .gitIcon img{
    width: 200px;
}

.panel p {
    justify-content: center;
    font-size: 17px;
}

@media screen and (min-width: 600px) {

    .panel {
      flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-width: 900px) {
    .panel {
      flex: 1 1 100px;
    }
}