@import "navigation.css";

body {
    background-color: turquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
    height: 80vh;
}

.panel {
    cursor: pointer;
    z-index: 500;
    height: 80vh;
    border-radius: 50px;
    background-color: turquoise;
    border-style: solid;
    border-color: #222;
    flex: 0.5;
    margin: 10px;
    top: 40px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
}

.panel:hover {
    background-color: #222;
}

.panel h3, .projectLink, .workInfo {
    font-size: 30px;
    position: absolute;
    text-decoration: none;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    pointer-events: none;
}


.panel.active h3, .projectLink{
    color: white;
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
    pointer-events: auto;
}

.panel.active .workInfo{
    color: white;
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
    size: 10px;
    top: 20px;
}

.gitIcon {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.panel .projectLink:hover{
    cursor: pointer;
    color: #c0392b;
}

.panel.active {
    flex: 5;
    background-color: #222;
    cursor: default;
}